@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-carbon: #2b2d31;
  --color-granate: #8c1d2c;
  --color-dorado: #cdaa43;
  --color-gris-claro: #e6e7ea;
  --color-blanco-suave: #fafafa;

  color: var(--color-carbon);
  background-color: var(--color-blanco-suave);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-blanco-suave);
}
